# Projeto 1 - Ci√™ncia dos Dados

Nome:Christian Delfs

Nome:Eduardo Zetone

Nome: Guilherme Pinheiro

Aten√ß√£o: Ser√£o permitidos grupos de tr√™s pessoas, mas com uma rubrica mais exigente. Grupos deste tamanho precisar√£o fazer um question√°rio de avalia√ß√£o de trabalho em equipe

___
Carregando algumas bibliotecas:

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import re
from math import *
import warnings
warnings.filterwarnings('ignore')

Carregando a base de dados com os tweets classificados como relevantes e n√£o relevantes:

In [2]:
filename = 'Heineken.xlsx'

In [3]:
train = pd.read_excel(filename)
train.tail()

                                           Treinamento  Relev√¢ncia
746  que vontade sentar em uma mesa de bar e tomar ...           4
747  abra√ßadinha no fardinho de heineken q ser√° dev...           3
748  12 heineken e minha cabe√ßa j√° t√° doendo.\nisso...           2
749                              heineken √© mt ruim ü§°ü§°           0
750              que vontade de tomar uma #heineken üòçüòç           4

In [4]:
test = pd.read_excel(filename, sheet_name = 'Teste')
test.tail(5)

                                                 Teste  Relev√¢ncia
246                              heineken pior cerveja           0
247  comigo agora √© assim: quer me beijar? me pague...           4
248  @gugall1 um fardo de heineken e dou pra voc√™s ...           3
249  fazendo as contas,bebemos 10 baldes de heineke...           2
250                              heineken √© m√≥ boa slc           4

In [5]:
train['Treinamento'] = train['Treinamento'].astype('str')

___
## Classificador autom√°tico de sentimento

Fa√ßa aqui uma descri√ß√£o do seu produto e o que considerou como relevante ou n√£o relevante na classifica√ß√£o dos tweets.

ESCREVA AQUI...
Heineken √© uma cerveja, muito popular no Brasil
palavras relevantes:
trincando, n√£o da ressaca, bom, saudades, geladinha
palavras n√£o relevantes:
ruim, caro, merda

___
### Montando um Classificador Naive-Bayes

Considerando apenas as mensagens da planilha Treinamento, ensine  seu classificador.

In [6]:
def cleanup(text):
    punctuation = '[!-.:?;"\n"()''"",_%$\|/,<>]' 
    pattern = re.compile(punctuation)
    text_subbed = re.sub(pattern, '', text)
    filtro = filter(lambda x:x[0]!='@', text_subbed.split())
    new = " ".join(filter(lambda x:x[0]!='@', text_subbed.split()))
    return new
train['Treinamento'] = train['Treinamento'].apply(cleanup).str.lower()

In [7]:
train['Relev√¢ncia'] = train['Relev√¢ncia'].astype('category')
train['Relev√¢ncia'].cat.categories = ['Muito irrelevante', 'Irrelevante', 'Neutro', 'Relevante', 'Muito relevante']

In [8]:
#codigo de filtro
muito_relevante = train['Relev√¢ncia'] == 'Muito relevante'
relevante = train['Relev√¢ncia'] == 'Relevante'
neutro = train['Relev√¢ncia'] == 'Neutro'
irrelevante = train['Relev√¢ncia'] == 'Irrelevante'
muito_irrelevante = train['Relev√¢ncia'] == 'Muito irrelevante'
#df dos filtros
df_muito_relevante = train.loc[muito_relevante, :]
df_relevante = train.loc[relevante, :]
df_neutro = train.loc[neutro, :]
df_irrelevante = train.loc[irrelevante, :]
df_muito_irrelevante = train.loc[muito_irrelevante, :]
tudo=[df_muito_relevante['Treinamento'],df_relevante['Treinamento'],df_neutro['Treinamento'],df_irrelevante['Treinamento'],df_muito_irrelevante['Treinamento']]

In [9]:
#c√≥digo que tranforma df em pd.series
tweets_muito_rel = []
tweets_rel = []
tweets_neu = []
tweets_irr = []
tweets_muito_irr = []
tudo2=[tweets_muito_rel,tweets_rel,tweets_neu,tweets_irr,tweets_muito_irr]
Todo= []
Mundo = []
Odeia = []
O= []
Chris = []
tudo3=[Todo,Mundo,Odeia,O,Chris]
i=0
while i<len(tudo):
    for a in tudo[i]:
        tudo2[i].append(a.split(' '))
    i+=1
ded=0
while ded<len(tudo2):
    for Eduzin in tudo2[ded]:
         tudo3[ded]+= Eduzin
    ded+=1

serie_muito_relevante=pd.Series(Todo)
serie_relevante=pd.Series(Mundo)
serie_neutro=pd.Series(Odeia)
serie_irrelevante=pd.Series(O)
serie_muito_irrelevante=pd.Series(Chris)

In [10]:
#utilizamos a variante Laplace Smoothing (alpha = 1)
alpha = 1

v= 1e3

In [11]:
freq_ab_mr = serie_muito_relevante.value_counts() 
freq_re_mr = (freq_ab_mr + alpha)/(freq_ab_mr.sum() + (alpha*v))

freq_ab_r = serie_relevante.value_counts() 
freq_re_r = (freq_ab_r + alpha)/(freq_ab_r.sum() + (alpha*v))

freq_ab_n = serie_neutro.value_counts() 
freq_re_n = (freq_ab_n + alpha)/(freq_ab_n.sum() + (alpha*v))

freq_ab_i = serie_irrelevante.value_counts() 
freq_re_i = (freq_ab_i + alpha)/(freq_ab_i.sum() + (alpha*v)) 

freq_ab_mi = serie_muito_irrelevante.value_counts() 
freq_re_mi = (freq_ab_mi + alpha)/(freq_ab_mi.sum() + (alpha*v))
tudo3=[freq_ab_mr,freq_ab_r,freq_ab_n,freq_ab_i,freq_ab_mi]
tudo4=[freq_re_mr,freq_re_r,freq_re_n,freq_re_i,freq_re_mi]

In [12]:
p_mr = len(tweets_muito_rel) / len(train["Treinamento"])
p_r = len(tweets_rel) / len(train["Treinamento"])
p_n = len(tweets_neu) / len(train["Treinamento"])
p_i = len(tweets_irr) / len(train["Treinamento"])
p_mi = len(tweets_muito_irr) / len(train["Treinamento"])
tudo5=[p_mr,p_r,p_n,p_i,p_mi]

In [13]:
def fun√ßa(frase):
    frase = frase.split(' ')
    prob_frase_dado_mr = 1
    prob_frase_dado_r = 1
    prob_frase_dado_n = 1
    prob_frase_dado_i = 1
    prob_frase_dado_mi = 1
    tudo6=[prob_frase_dado_mr,prob_frase_dado_r,prob_frase_dado_n,prob_frase_dado_i,prob_frase_dado_mi]
    
    prob_mr_dado_frase = 1
    prob_r_dado_frase = 1
    prob_n_dado_frase = 1
    prob_i_dado_frase = 1
    prob_mi_dado_frase = 1
    tudo8=[prob_mr_dado_frase,prob_r_dado_frase,prob_n_dado_frase,prob_i_dado_frase,prob_mi_dado_frase]
    
    tudo9=['Muito relevante','Relevante','Neutro','Irrelevante','Muito irrelevante']
    
    for palavra in frase:
        for a in range(5):
            if palavra in tudo4[a]:
                tudo6[a] *= tudo4[a][palavra]
            elif palavra not in tudo4[a]:
                tudo6[a] *= (alpha/(tudo3[a].sum() + (alpha*v)))
    for a in range(5):
        tudo8[a]=(tudo6[a])*(tudo5[a])
    for b in range(5):
        if max(log(tudo8[0], 10), log(tudo8[1], 10), log(tudo8[2], 10), log(tudo8[3], 10),  log(tudo8[4], 10)) == log(tudo8[b], 10):
            return tudo9[b]

In [14]:
train['Classificacao'] = train['Treinamento'].apply(fun√ßa)
train['Classificacao']

0            Irrelevante
1                 Neutro
2      Muito irrelevante
3        Muito relevante
4        Muito relevante
             ...
746      Muito relevante
747            Relevante
748               Neutro
749    Muito irrelevante
750      Muito relevante
Name: Classificacao, Length: 751, dtype: object

In [15]:
tabela = pd.crosstab(train['Relev√¢ncia'], train['Classificacao'], normalize='all')
tabela

Classificacao,Irrelevante,Muito irrelevante,Muito relevante,Neutro,Relevante
Relev√¢ncia,,,,,
Muito irrelevante,0.001332,0.138482,0.010652,0.003995,0.005326
Irrelevante,0.037284,0.001332,0.003995,0.006658,0.003995
Neutro,0.000000,0.001332,0.014647,0.121172,0.006658
Relevante,0.001332,0.001332,0.027963,0.005326,0.201065
Muito relevante,0.002663,0.001332,0.388815,0.001332,0.011984

In [16]:
#quanto o classificador acertou?
f'{(tabela.iloc[0,1] + tabela.iloc[1,0] + tabela.iloc[2,3] + tabela.iloc[3,4] + tabela.iloc[4,2])*100:.5g}%'

'88.682%'

___
### Verificando a performance do Classificador

Agora voc√™ deve testar o seu classificador com a base de Testes.

In [17]:
teste = pd.read_excel(filename, sheet_name = 'Teste')
teste['Teste'] = teste['Teste'].astype('str')
test['Teste'] = teste['Teste'].apply(cleanup).str.lower()

In [18]:
teste['Relev√¢ncia'] = teste['Relev√¢ncia'].astype('category')
teste['Relev√¢ncia'].cat.categories = ['Muito irrelevante', 'Irrelevante', 'Neutro', 'Relevante', 'Muito relevante']
teste['Classificador'] = teste['Teste'].apply(fun√ßa)

In [19]:
tabela2 = pd.crosstab(teste['Relev√¢ncia'], teste['Classificador'], normalize='all')
tabela2

Classificador,Irrelevante,Muito irrelevante,Muito relevante,Neutro,Relevante
Relev√¢ncia,,,,,
Muito irrelevante,0.067729,0.075697,0.035857,0.055777,0.035857
Irrelevante,0.019920,0.027888,0.019920,0.027888,0.023904
Neutro,0.039841,0.035857,0.083665,0.011952,0.031873
Relevante,0.035857,0.011952,0.095618,0.027888,0.055777
Muito relevante,0.019920,0.011952,0.111554,0.011952,0.023904

In [20]:
f'O acerto do nosso classificador foi de: {(tabela2.iloc[0,1]+tabela2.iloc[1,0]+tabela2.iloc[2,3]+tabela2.iloc[3,4]+tabela2.iloc[4,2])*100:.5g}%'

'O acerto do nosso classificador foi de: 27.49%'

___
### Concluindo

### Por que n√£o posso usar o pr√≥prio classificador para gerar mais amostras de treinamento?

N√£o podemos usar o nosso classificador para gerar mais amostras de treinamento porque foi feito a partir das classifica√ß√µes de treinamento. Assim a efic√°cia do classificador se mostra ser muito alta, n√£o condizendo com a realidade, j√° que os tweets que ser√£o classificados geraram os 'padr√µes' que criaram o classifcador.

### Diferentes cen√°rios para Na√Øve Bayes fora do contexto do projeto

O classificador Na√Øve-Bayes tamb√©m pode ser usado para saber a rejei√ß√£o de uma pessoa, por exemplo quando um famoso vai para o BBB e √© julgado por pessoas do lado de fora da casa, atrav√©s das classifica√ß√µes das mensagens que o mencionam em qualquer rede social. De modo geral, o classificador Na√Øve-Bayes pode ser muito √∫til para realizar uma an√°lise autom√°tica de sentimento relacionada a qualquer produto, marca ou pessoa. √â uma maneira de obter feedbacks de forma informal, sincera e aleat√≥ria.

### Melhorias poss√≠veis para o classificador Na√Øve-Bayes

Considerando a ordem em que as palavras aparecem na frase e a probabilidade de certas sequ√™ncias de palavras, podemos obter uma classifica√ß√£o mais realista. Com isso, podemos analisar a relev√¢ncia, positividade e categorias negativas da mensagem pela probabilidade de que uma determinada sequ√™ncia se enquadre em qualquer um desses cen√°rios.

___
### Qualidade do Classificador a partir de novas separa√ß√µes dos tweets entre Treinamento e Teste

Caso for fazer esse item do Projeto

___
## Aperfei√ßoamento:

Trabalhos que conseguirem pelo menos conceito B v√£o evoluir em conceito dependendo da quantidade de itens avan√ßados:

* IMPLEMENTOU outras limpezas e transforma√ß√µes que n√£o afetem a qualidade da informa√ß√£o contida nos tweets. Ex: stemming, lemmatization, stopwords
* CORRIGIU separa√ß√£o de espa√ßos entre palavras e emojis ou entre emojis e emojis
* CRIOU categorias intermedi√°rias de relev√¢ncia baseadas na probabilidade: ex.: muito relevante, relevante, neutro, irrelevante, muito irrelevante. Pelo menos quatro categorias, com adi√ß√£o de mais tweets na base, conforme enunciado. (OBRIGAT√ìRIO PARA TRIOS, sem contar como item avan√ßado)
* EXPLICOU porqu√™ n√£o pode usar o pr√≥prio classificador para gerar mais amostras de treinamento
* PROP√îS diferentes cen√°rios para Na√Øve Bayes fora do contexto do projeto
* SUGERIU e EXPLICOU melhorias reais com indica√ß√µes concretas de como implementar (indicar como fazer e indicar material de pesquisa)
* FEZ o item 6. Qualidade do Classificador a partir de novas separa√ß√µes dos tweets entre Treinamento e Teste descrito no enunciado do projeto (OBRIGAT√ìRIO para conceitos A ou A+)

___
## Refer√™ncias

[Naive Bayes and Text Classification](https://arxiv.org/pdf/1410.5329.pdf)  **Mais completo**

[A practical explanation of a Naive Bayes Classifier](https://monkeylearn.com/blog/practical-explanation-naive-bayes-classifier/) **Mais simples**