# Projeto 1 - Ciência dos Dados

Nome: _f____

Nome: _____

Atenção: Serão permitidos grupos de três pessoas, mas com uma rubrica mais exigente. Grupos deste tamanho precisarão fazer um questionário de avaliação de trabalho em equipe

___
Carregando algumas bibliotecas:

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import re
from math import *
import warnings
warnings.filterwarnings('ignore')

In [2]:
filename = 'ps4.xlsx'
if filename in os.listdir():
    print(f'Achei {filename}, tudo certo')
else:
    print(f'Não achei {filename} aqui no diretório {os.getcwd()}')

Não achei ps4.xlsx aqui no diretório C:\Users\guiig\OneDrive\Documentos\C DADOS\cdados

Carregando a base de dados com os tweets classificados como relevantes e não relevantes:

In [3]:
filename = 'Heineken.xlsx'

In [4]:
train = pd.read_excel(filename)
train.head(5)

                                         Treinamento  Relevância
0  o certo hoje é ir beber, @lukinhaswin da a cas...           1
1  @cervejapetra \ngostava, agora não mais\n@cerv...           1
2  @honoratovieira_ nem na zona sul do rio é 20 c...           0
3  yussif já me mandou msg avisando q quando cheg...           4
4  este usuário esta a fim de beber uma heineken ...           4

In [5]:
test = pd.read_excel(filename, sheet_name = 'Teste')
test.head(5)

                                               Teste  Relevância
0                           @heineken_bxxr amei vamo           4
1  indireta direta pro meu melhor amigo, que me a...           0
2             @lelexiabusada odeio heineken por isso           0
3  chegar em casa e beber umas heineken com minha...           3
4                    essa historinha de heineken viu           2

In [6]:
train['Treinamento'] = train['Treinamento'].astype('str')

___
## Classificador automático de sentimento

Faça aqui uma descrição do seu produto e o que considerou como relevante ou não relevante na classificação dos tweets.

ESCREVA AQUI...
Heineken é uma cerveja, muito popular no Brasil
palavras relevantes:
trincando, não da ressaca, bom, saudades, geladinha
palavras não relevantes:
ruim, caro, merda

___
### Montando um Classificador Naive-Bayes

Considerando apenas as mensagens da planilha Treinamento, ensine  seu classificador.

In [7]:
def cleanup(text):
    punctuation = '[!-.:?;"\n"()''"",_%$\|/,<>]' 
    pattern = re.compile(punctuation)
    text_subbed = re.sub(pattern, '', text)
    filtro = filter(lambda x:x[0]!='@', text_subbed.split())
    new = " ".join(filter(lambda x:x[0]!='@', text_subbed.split()))
    return new
train['Treinamento'] = train['Treinamento'].apply(cleanup).str.lower()

In [8]:
train['Relevância'] = train['Relevância'].astype('category')
train['Relevância'].cat.categories = ['Muito irrelevante', 'Irrelevante', 'Neutro', 'Relevante', 'Muito relevante']

In [9]:
#codigo de filtro
muito_relevante = train['Relevância'] == 'Muito relevante'
relevante = train['Relevância'] == 'Relevante'
neutro = train['Relevância'] == 'Neutro'
irrelevante = train['Relevância'] == 'Irrelevante'
muito_irrelevante = train['Relevância'] == 'Muito irrelevante'
#df dos filtros
df_muito_relevante = train.loc[muito_relevante, :]
df_relevante = train.loc[relevante, :]
df_neutro = train.loc[neutro, :]
df_irrelevante = train.loc[irrelevante, :]
df_muito_irrelevante = train.loc[muito_irrelevante, :]
tudo=[df_muito_relevante['Treinamento'],df_relevante['Treinamento'],df_neutro['Treinamento'],df_irrelevante['Treinamento'],df_muito_irrelevante['Treinamento']]

In [10]:
#código que tranforma df em pd.series
tweets_muito_rel = []
tweets_rel = []
tweets_neu = []
tweets_irr = []
tweets_muito_irr = []
tudo2=[tweets_muito_rel,tweets_rel,tweets_neu,tweets_irr,tweets_muito_irr]
Todo= []
Mundo = []
Odeia = []
O= []
Chris = []
tudo3=[Todo,Mundo,Odeia,O,Chris]
i=0
while i<len(tudo):
    for a in tudo[i]:
        tudo2[i].append(a.split(' '))
    i+=1
ded=0
while ded<len(tudo2):
    for Eduzin in tudo2[ded]:
         tudo3[ded]+= Eduzin
    ded+=1

serie_muito_relevante=pd.Series(Todo)
serie_relevante=pd.Series(Mundo)
serie_neutro=pd.Series(Odeia)
serie_irrelevante=pd.Series(O)
serie_muito_irrelevante=pd.Series(Chris)

In [11]:
#utilizamos a variante Laplace Smoothing (alpha = 1)
alpha = 1

v= 1e3

In [12]:
freq_ab_mr = serie_muito_relevante.value_counts() 
freq_re_mr = (freq_ab_mr + alpha)/(freq_ab_mr.sum() + (alpha*v))

freq_ab_r = serie_relevante.value_counts() 
freq_re_r = (freq_ab_r + alpha)/(freq_ab_r.sum() + (alpha*v))

freq_ab_n = serie_neutro.value_counts() 
freq_re_n = (freq_ab_n + alpha)/(freq_ab_n.sum() + (alpha*v))

freq_ab_i = serie_irrelevante.value_counts() 
freq_re_i = (freq_ab_i + alpha)/(freq_ab_i.sum() + (alpha*v)) 

freq_ab_mi = serie_muito_irrelevante.value_counts() 
freq_re_mi = (freq_ab_mi + alpha)/(freq_ab_mi.sum() + (alpha*v))
tudo3=[freq_ab_mr,freq_ab_r,freq_ab_n,freq_ab_i,freq_ab_mi]
tudo4=[freq_re_mr,freq_re_r,freq_re_n,freq_re_i,freq_re_mi]

In [13]:
p_mr = len(tweets_muito_rel) / len(train["Treinamento"])
p_r = len(tweets_rel) / len(train["Treinamento"])
p_n = len(tweets_neu) / len(train["Treinamento"])
p_i = len(tweets_irr) / len(train["Treinamento"])
p_mi = len(tweets_muito_irr) / len(train["Treinamento"])
tudo5=[p_mr,p_r,p_n,p_i,p_mi]

In [14]:
def funça(frase):
    frase = frase.split(' ')
    prob_frase_dado_mr = 1
    prob_frase_dado_r = 1
    prob_frase_dado_n = 1
    prob_frase_dado_i = 1
    prob_frase_dado_mi = 1
    tudo6=[prob_frase_dado_mr,prob_frase_dado_r,prob_frase_dado_n,prob_frase_dado_i,prob_frase_dado_mi]
    
    prob_mr_dado_frase = 1
    prob_r_dado_frase = 1
    prob_n_dado_frase = 1
    prob_i_dado_frase = 1
    prob_mi_dado_frase = 1
    tudo8=[prob_mr_dado_frase,prob_r_dado_frase,prob_n_dado_frase,prob_i_dado_frase,prob_mi_dado_frase]
    
    tudo9=['Muito relevante','Relevante','Neutro','Irrelevante','Muito irrelevante']
    
    for palavra in frase:
        for a in range(5):
            if palavra in tudo4[a]:
                tudo6[a] *= tudo4[a][palavra]
            elif palavra not in tudo4[a]:
                tudo6[a] *= (alpha/(tudo3[a].sum() + (alpha*v)))
    for a in range(5):
        tudo8[a]=(tudo6[a])*(tudo5[a])
    for b in range(5):
        if max(log(tudo8[0], 10), log(tudo8[1], 10), log(tudo8[2], 10), log(tudo8[3], 10),  log(tudo8[4], 10)) == log(tudo8[b], 10):
            return tudo9[b]

In [15]:
train['Classificacao'] = train['Treinamento'].apply(funça)
train['Classificacao']

0            Irrelevante
1                 Neutro
2      Muito irrelevante
3        Muito relevante
4        Muito relevante
             ...
744            Relevante
745            Relevante
746      Muito relevante
747            Relevante
748               Neutro
Name: Classificacao, Length: 749, dtype: object

In [16]:
tabela = pd.crosstab(train['Relevância'], train['Classificacao'], normalize='all')
tabela

Classificacao,Irrelevante,Muito irrelevante,Muito relevante,Neutro,Relevante
Relevância,,,,,
Muito irrelevante,0.001335,0.137517,0.010681,0.004005,0.005340
Irrelevante,0.037383,0.001335,0.004005,0.006676,0.004005
Neutro,0.000000,0.001335,0.013351,0.122830,0.006676
Relevante,0.001335,0.001335,0.028037,0.005340,0.201602
Muito relevante,0.002670,0.001335,0.388518,0.001335,0.012016

In [17]:
#quanto o classificador acertou?
f'{(tabela.iloc[0,1] + tabela.iloc[1,0] + tabela.iloc[2,3] + tabela.iloc[3,4] + tabela.iloc[4,2])*100:.5g}%'

'88.785%'

___
### Verificando a performance do Classificador

Agora você deve testar o seu classificador com a base de Testes.

In [18]:
teste = pd.read_excel(filename, sheet_name = 'Teste')
teste['Teste'] = teste['Teste'].astype('str')
test['Teste'] = teste['Teste'].apply(cleanup).str.lower()

In [19]:
teste['Relevância'] = teste['Relevância'].astype('category')
teste['Relevância'].cat.categories = ['Muito irrelevante', 'Irrelevante', 'Neutro', 'Relevante', 'Muito relevante']
teste['Classificador'] = teste['Teste'].apply(funça)

In [20]:
tabela2 = pd.crosstab(teste['Relevância'], teste['Classificador'], normalize='all')
tabela2

Classificador,Irrelevante,Muito irrelevante,Muito relevante,Neutro,Relevante
Relevância,,,,,
Muito irrelevante,0.068,0.076,0.036,0.056,0.036
Irrelevante,0.020,0.028,0.020,0.028,0.024
Neutro,0.040,0.036,0.080,0.012,0.032
Relevante,0.036,0.012,0.096,0.028,0.056
Muito relevante,0.020,0.012,0.108,0.016,0.024

In [21]:
f'O acerto do nosso classificador foi de: {(tabela2.iloc[0,1]+tabela2.iloc[1,0]+tabela2.iloc[2,3]+tabela2.iloc[3,4]+tabela2.iloc[4,2])*100:.5g}%'

'O acerto do nosso classificador foi de: 27.2%'

___
### Concluindo

___
### Qualidade do Classificador a partir de novas separações dos tweets entre Treinamento e Teste

Caso for fazer esse item do Projeto

___
## Aperfeiçoamento:

Trabalhos que conseguirem pelo menos conceito B vão evoluir em conceito dependendo da quantidade de itens avançados:

* IMPLEMENTOU outras limpezas e transformações que não afetem a qualidade da informação contida nos tweets. Ex: stemming, lemmatization, stopwords
* CORRIGIU separação de espaços entre palavras e emojis ou entre emojis e emojis
* CRIOU categorias intermediárias de relevância baseadas na probabilidade: ex.: muito relevante, relevante, neutro, irrelevante, muito irrelevante. Pelo menos quatro categorias, com adição de mais tweets na base, conforme enunciado. (OBRIGATÓRIO PARA TRIOS, sem contar como item avançado)
* EXPLICOU porquê não pode usar o próprio classificador para gerar mais amostras de treinamento
* PROPÔS diferentes cenários para Naïve Bayes fora do contexto do projeto
* SUGERIU e EXPLICOU melhorias reais com indicações concretas de como implementar (indicar como fazer e indicar material de pesquisa)
* FEZ o item 6. Qualidade do Classificador a partir de novas separações dos tweets entre Treinamento e Teste descrito no enunciado do projeto (OBRIGATÓRIO para conceitos A ou A+)

___
## Referências

[Naive Bayes and Text Classification](https://arxiv.org/pdf/1410.5329.pdf)  **Mais completo**

[A practical explanation of a Naive Bayes Classifier](https://monkeylearn.com/blog/practical-explanation-naive-bayes-classifier/) **Mais simples**